@import 'lemonjs-lui/css/colors.styl'
@import 'lemonjs-lui/css/themes/basic.styl'

#app
  position relative

  .search
    margin-bottom 40px

  .gradients
    min-height 80vh

  .no-match
    font-size 28px

  .lui-grid
    margin 0 auto
    max-width 80%
    padding-bottom 100px
    position relative
    width 1080px
    z-index 10

  .lui-grid-item
    .name
      background rgba(0, 0, 0, .2)
      border 1px solid rgba(0, 0, 0, .8)
      color white
      display inline-block
      font-weight bold
      padding 8px
